numpy
pyvis
rdflib
networkx
pandas
requests
python-dateutil
plotly
scikit-learn
python-louvain
pyshacl
owlrl
git+https://github.com/eliorc/node2vec.git@v0.5.0#egg=node2vec
plotly_resampler
sentence-transformers
